<%- layout("/layouts/boilerplate") %>
    <div class="aboutUsPage">
        <div class="freeConsultation container-fluid">
            <h2 class="mb-7">About Us </h2>
            <h1 class="aboutUsH1"><b>One-Stop Solution for all Your Marketing Woes .</b></h1>
            <form>
                <button>Book a Free Consultation</button>
            </form>
        </div>
        <br><br><br>
        <p class="aboutUsp">We are a result - oriented digital marketing agency serving global clientele for more than a decade; we know
            that our clients success is a direct indicator of our performance. Our integrated team of digital marketers
            regularly challenges the status quo to evolve their marketing techniques so that our clients get nothing but
            the best.
        </p>
    </div>