<%- layout("/layouts/boilerplate")  %>
<h1>Booking form</h1>
<form>
    <input placeholder = "Enter the time">
    <br><br>
    <input placeholder = "Enter the date"> 
    <br><br>
    <button>Book the call !</button>
</form>