<%- layout("/layouts/boilerplate") %>
        <br><br><br><br><br><br>
        <div >
            <h2 class="fw-lighter">Building Go-To-Market Strategies</h2>
            <h2 class="fw-bold">From Inside-out ———</h2>
            <br>
            <p class="fw-lighter description">Woosper is an agile and data-driven digital agency that understands “THE BEST BRAND STORIES START WITH A
                SIMPLE CONVERSATION”. At Woosper, we believe every challenge has a hidden opportunity; we help
                businesses recognize that 'opportunity'. Woosper experts guide businesses in leveraging advanced
                technology, data analytics, and strategy to start their journey to success.
            </p>
            <a href="#" class="letsTalk" style="color: #ff4545;">Let's talk</a>
        </div>
        <br>
        <div id="div1" class="ml-0">
            <div>
                <h2>We build Integrated <b>——</b></h2>
                <h1><b>Digital Marketing Solutions</b> </h1>
                <br><br>
            </div>
            <div class="imagesContainer">
                <div class="image1 image">
                    <h2><i class="fa-solid fa-lightbulb"></i> Research</h2>
                    <p>We build brandes out of accurate , actionable reports and analysis executed by Nerds .</p>
                </div>
                <div class="image2 image">
                    <h2><i class="fa-solid fa-lightbulb"></i> Research</h2>
                    <p>We build brandes out of accurate , actionable reports and analysis executed by Nerds .</p>
                </div>
                <div class="image3 image">
                    <h2><i class="fa-solid fa-lightbulb"></i> Research</h2>
                    <p>We build brandes out of accurate , actionable reports and analysis executed by Nerds .</p>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <h1 class="fw-bold">Want to be a Market Leader ?</h1>
        <p class="fw-lighter" style="color: gray ; font-size: 1.5rem;">Relax, you have team AKA Marketing on your back with its capabilities</p>
        <div class="servicesContainer">
            <div class="services">
                <img src="https://png.pngtree.com/png-clipart/20230923/original/pngtree-web-development-blue-gradient-concept-icon-programming-logo-software-vector-png-image_12735498.png">
                <br/><br/>
                <h3>Web Development</h3>
            </div>
            <div class="services">
                <img src="https://a.storyblok.com/f/264268/1300x800/12175a7357/how-to-run-multiple-ad-campaigns-on-facebook.png">
                <br/><br/>
                <h3>Facebook Ads management</h3>
            </div class="services">
            <div class="services">
                <img src="https://static.vecteezy.com/system/resources/previews/025/334/713/original/social-media-managers-blue-gradient-concept-icon-digital-marketing-content-plan-schedule-post-community-management-abstract-idea-thin-line-illustration-isolated-outline-drawing-vector.jpg"><br/>
                <br/>
                <h3>Social media management</h3>
            </div class="services">
            <div class="services">
                <img src="https://banner2.cleanpng.com/20180426/qwe/kisspng-lead-generation-marketing-e-commerce-customer-mana-application-design-5ae15c764bf5d0.0647160115247187103111.jpg">
                <br/><br/>
                <h3>Lead Generation</h3>
            </div>
        </div>
        <br><br><br><br><br><br>
        <h1 class="fw-lighter" style="font-weight: 100 !important;">Want to transform your business into a successful brand ?</h1>
        <h1><b>Yes ?</b> <a href="#" style="color: #ff4545;">Click Here</a></h1>
        <br><br>
